<div class="flex justify-center items-center h-full w-full">
  <div class="typewriter">
    <h1><strong>Welcome</strong>, to the <strong>event planner</strong> you never knew you needed.</h1>
  </div>
</div>

